<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
        <a href="/posts/post-create">Create Post</a> <span>   |   </span>
        <a href="/posts">See All Posts</a><span>   |   </span>
        <a href="/users/user-create">Create User</a><span>   |   </span>
        <a href="/users">All Users</a>
    </nav>


    {{{body}}}
  </body>
</html>